# dependencies
node_modules/

# testing
coverage/
e2e/results/
e2e/report/

# next.js
.next/
.swc/
next-env.d.ts

# misc
.DS_Store
*.pem

# local env files
.env*.local

# other
TODO.md
NOTES.md
*.mongodb.js