# dependencies
node_modules/
.pnpm-store/

# testing
coverage/
e2e/report/
e2e/results/
reports/

# next.js
.next/
.swc/
next-env.d.ts

# misc
.DS_Store
*.pem

# local env files
.env*.local

# other
NOTES.md
*.mongodb.js
# stryker temp files
.stryker-tmp
