# dependencies
node_modules/

# testing
tests/unit/coverage/
tests/e2e/results/
tests/e2e/report/

# next.js
.next/
.swc/
next-env.d.ts

# misc
.DS_Store
*.pem

# local env files
.env*.local

# other
NOTES.md
*.mongodb.js